<div id="about" class="tm-section">
    <!-- About left -->
    <div class="tm-section-col tm-content tm-content-small">
        <h2 class="tm-text-primary">About Us</h2>
        <p>
            You can find more free templates on Too CSS collections. Please visit Too CSS website to see a great list of HTML CSS templates. Simply type it in Google search.
        </p>
        <p>
            You may help us by spreading a word about our website or make a small contribution by contacting Tooplate directly. That will be very helpful for us. Thank you.
        </p>
        <hr class="tm-hr tm-mb-50">                
        <p class="tm-mb-50">
            Quisque luctus feugiat dui eget malesuada. Donec rutrum, nibh vel lobortis placerat, leo enim feugiat arcu, ornare imperdiet urna sem vitae tellus.
        </p>
        <div class="tm-text-right tm-mb-130">
            <a href="#contact" class="tm-btn tm-btn-next">Contact Us</a>
        </div>                
    </div>
    
    <!-- About right -->
    <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="/assets/img/vertex-bg-03.jpg"></div>
</div> <!-- #about -->