<div id="services" class="tm-section">
    <!-- Services left -->
    <div class="tm-section-col tm-content">
        <h2 class="tm-text-primary">Our Services</h2>
        <p>Credit goes to <strong>Pexels website</strong> for background images and Unsplash website for gallery images used in this Vertex HTML template. Vestibulum quis ultrices ipsum, tempor cursus odio. Donec et nisl sit amet mauris consequat sodales. 
        </p>
        <p>
            Morbi a sapien vitae nunc mollis efficitur quis eu purus. Donec nec orci pharetra, ullamcorper orci eu, gravida dolor. Morbi at rutrum nibh. Sed a erat vitae ipsum mollis tincidunt sed nec orci.
        </p>
        <div class="tm-text-right">
            <a href="#gallery" class="tm-btn tm-btn-next">Next page</a>
        </div>                
        <hr class="tm-hr tm-ml tm-sm-mt-30">
        <div class="tm-row">
            <div class="tm-col">
                <div class="tm-text-center tm-my-50">
                    <i class="fas fa-street-view fa-3x"></i>
                </div>                        
                <p>
                    Fusce mi sapien, faucibus ut tortor a, tempus laoreet magna. Nulla felis ipsum, lobortis eu efficitur eget, malesuada id lacus.
                </p>
            </div>
            <div class="tm-col">
                <div class="tm-text-center tm-my-50">
                    <i class="fas fa-bullseye fa-3x"></i>
                </div>                        
                <p>
                    Nullam pellentesque accumsan hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>                
    </div>
    
    <!-- Services right -->
    <div class="tm-section-col tm-parallax" data-parallax="scroll" data-image-src="/assets/img/vertex-bg-02.jpg"></div>
</div> <!-- #services -->